<div style="background-color: #EEE; height:100%" ng-swipe-right="goToGifts()" ng-swipe-left="goToProfile()">
    <br/>
    <h3 align="center">People</h3>
    <div class="col-sm-4">
        <input type="text" class="form-control" placeholder="Search people" ng-model="search"/>
    </div>
    <div class="col-sm-4">
    	
    </div>
    <div class="col-sm-4" align="right">
        <a href="/add/person" class="btn btn-success btn-lg" style="background-color: #e74c3c;">
            <span class="fui-plus"></span> Add
        </a>
    </div>
    <div align="center">
        <h3 ng-show="showMessage() || (people |toArray:false  | filter:search).length == 0">No people</h3>
        <table class="table table-hover table-responsive" id="peopleTable" ng-show="showTable()" ng-hide="(people |toArray:false | filter:search).length == 0">
            <thead>
                <tr>
                    <th id="person-name" ng-click="order('name')"><span class="glyphicon glyphicon-sort-by-alphabet" id="sort-by-alphabet"></span>Person name</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="person in people |toArray:false | filter:search | orderBy:predicate:reverse |  startFrom:(currentPage - 1) * pageSize | limitTo: pageSize">
                    <td ng-if="person.name">{{person.name}}</td>
                    <td ng-if="person.name">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="/person/{{person._id}}">
                                <span class="fui-eye"></span>
                            </a>
                            <a class="btn btn-primary delete" ng-click="deletePerson(person._id)">
                                <span class="fui-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <uib-pagination total-items="people.length" ng-model="currentPage" items-per-page="pageSize" ng-hide="(people |toArray:false | filter:search).length == 0" class="pagination"></uib-pagination>
    </div>
</div>