<div style="background-color: #EEE; height:100%;" align="center">
    <div ng-include="'templates/navbar.html'">
    </div>
    <h3 align="center">Edit gift</h3>
    <div class="alert alert-success" style="display: none;width: 50%;text-align: center" id="errorStat" align="center">
        <strong>{{status}}!</strong> {{message}}
    </div>
    <div align="center" class="form-group">
        <input type="text" value="{{gift.name}}" placeholder="Name" class="form-control input-style" id="gift-name"/>
        <div class="btn-group" ng-click="changeName()" style="height: 42px">
            <a class="btn btn-primary">
                <span class="fui-new"></span>
            </a>
        </div>
        <br><br>
        <input type="text" value="{{gift.price}}" placeholder="Price" class="form-control input-style" id="gift-price"/>
        <div class="btn-group" ng-click="changePrice()" style="height: 42px">
            <a class="btn btn-primary">
                <span class="fui-new"></span>
            </a>
        </div>
        <br><br>
        <div  align="center" style="width: 300px;display: inline-block">
            <select data-toggle="select" name="inverse-dropdown-searchfield" class="form-control select select-default mrs mbm"  id="dropdown-person">
                <option value="0" selected>Select person</option>
                <option ng-repeat="person in people track by $index" value="{{person._id}}">{{person.name}}</option>
            </select>
        </div>
        <div class="btn-group" ng-click="changeOwner()" style="display: inline-block;height: 32px">
            <a class="btn btn-primary">
                <span class="fui-new"></span>
            </a>
        </div>
        <br><br>
        <button class="btn btn-block btn-lg btn-info my-style"  style="width: 150px;display: inline-block" ng-click="editGift()">Edit</button>
        <button class="btn btn-block btn-lg btn-info my-style"  style="width: 150px; display: inline-block;margin-top:0px" ng-click="cancel()">Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('select[name="inverse-dropdown"], select[name="inverse-dropdown-optgroup"], select[name="inverse-dropdown-disabled"]').select2({dropdownCssClass: 'select-inverse-dropdown'});

        $('select[name="searchfield"]').select2({dropdownCssClass: 'show-select-search'});
        $('select[name="inverse-dropdown-searchfield"]').select2({dropdownCssClass: 'select-inverse-dropdown show-select-search'});
    });
</script>