<div style="background-color: #EEE; height:100%">
    <div ng-include="'templates/navbar.html'">
    </div>
    <h3 align="center">Update your profile</h3>
    <div align="center" class="form-group">
        <h4 id="errorChange"></h4>
        <input type="text" value placeholder="Username" class="form-control input-style" id="new-username"/> <button class="btn btn-info my-style my-btn" ng-click="updateUsername()" id="user-change">Change</button><br/><br/>
        <input type="password" value placeholder="Password" class="form-control input-style"  id="new-password"/> <button class="btn btn-info my-style my-btn" ng-click="updatePassword()" id="pass-change">Change</button><br/><br/>
        <input type="text" value placeholder="Email" class="form-control input-style"  id="new-email"/> <button class="btn btn-info my-style my-btn" ng-click="updateEmail()" id="email-change">Change</button><br/><br/>
        <button class="btn btn-block btn-lg btn-info my-style"  style="width: 25%" ng-click="updateProfile()" id="update-all">Update all</button>
    </div>
</div>