<div style="background-color: #EEE; height:100%">
    <div ng-include="'templates/navbar.html'">
    </div>
    <h3 align="center">Gifts</h3>
    <div style="margin-right: 10px;display: inline-block" align="left" class="form-group">
        <input type="text" class="form-control" placeholder="Search gift" ng-model="search"/>
    </div>
    <div style="margin-right: 10px;" align="right">
        <a href="/add/gift" class="btn btn-success btn-lg" style="background-color: #e74c3c;">
            <span class="fui-plus"></span> Add
        </a>
    </div>
    <div align="center">
        <h3 ng-show="showMessage()">No gifts</h3>
        <table class="table table-hover" id="giftsTable" ng-show="showTable()">
            <thead>
            <tr>
                <th ng-click="orderByName()">Name</th>
                <th ng-click="orderByPrice()">Price</th>
                <th ng-click="orderByOwner()">For</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="gift in gifts | filter:search | orderBy:order | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize">
                <td>{{gift.name}}</td>
                <td>{{gift.price}}</td>
                <td>{{gift.ownerName}}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary" href="/gift/{{gift._id}}">
                            <span class="fui-eye"></span>
                        </a>
                        <a class="btn btn-primary delete" ng-click="deleteGift(gift._id)">
                            <span class="fui-trash"></span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <uib-pagination total-items="gifts.length" ng-model="currentPage" items-per-page="pageSize"></uib-pagination>
    </div>
</div>
