<div class="col-md-5 col-centered">
    <div class="login-form">
        <h3 align="center" style="color:#e74c3c">Register</h3>
        <h3 align="center" style="color:#e74c3c;font-size: 20px" id="errorReg"></h3>
        <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="register-name" ng-model="userModel" ng-change="userNameChange()"/>
            <label class="login-field-icon fui-user" for="register-name" id="userField"></label>
        </div>
        <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Password" id="register-pass" ng-model="passModel" ng-change="passwordChange()"/>
            <label class="login-field-icon fui-lock" for="register-pass" id="passField"></label>
        </div>
        <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Password" id="register-confirm-pass" ng-model="passConfirmModel" ng-change="passwordConfirmChange()"/>
            <label class="login-field-icon fui-lock" for="register-confirm-pass" id="passConfirmField"></label>
        </div>
        <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="E-mail" id="register-email" ng-model="emailModel" ng-change="emailChange()"/>
            <label class="login-field-icon fui-mail" for="register-email" id="emailField"></label>
        </div>
        <a class="btn btn-lg btn-block my-style" ng-click="registerUser()">Register</a>
        <a href="/login">Already a member?</a>
    </div>
 </div>